<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.Tails_you_lose.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.75</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.4954812824726105</real>
		<real>0.7630030512809753</real>
		<real>0.8107955455780029</real>
		<real>0.25</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.8759533110119048</real>
		<real>0.8520636920919201</real>
		<real>0.6924212208413115</real>
		<real>0.3</real>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>Tails_you_lose</string>
		<string>background</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>qcurve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>space</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>Ccedilla</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>Ocircumflex</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>Eth</string>
				<string>Thorn</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>ccedilla</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>ocircumflex</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>germandbls</string>
				<string>eth</string>
				<string>thorn</string>
				<string>dotlessi</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>underscore</string>
				<string>hyphen</string>
				<string>parenleft</string>
				<string>bracketleft</string>
				<string>braceleft</string>
				<string>numbersign</string>
				<string>percent</string>
				<string>quotesingle</string>
				<string>quotedbl</string>
				<string>quoteright</string>
				<string>asterisk</string>
				<string>period</string>
				<string>comma</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>exclam</string>
				<string>question</string>
				<string>slash</string>
				<string>bar</string>
				<string>brokenbar</string>
				<string>at</string>
				<string>ampersand</string>
				<string>section</string>
				<string>paragraph</string>
				<string>plus</string>
				<string>minus</string>
				<string>divide</string>
				<string>multiply</string>
				<string>equal</string>
				<string>less</string>
				<string>logicalnot</string>
				<string>dollar</string>
				<string>cent</string>
				<string>sterling</string>
				<string>currency</string>
				<string>yen</string>
				<string>asciicircum</string>
				<string>asciitilde</string>
				<string>acute</string>
				<string>grave</string>
				<string>hungarumlaut</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>breve</string>
				<string>tilde</string>
				<string>macron</string>
				<string>dieresis</string>
				<string>dotaccent</string>
				<string>ring</string>
				<string>cedilla</string>
				<string>ogonek</string>
				<string>BaseCurvedElement</string>
				<string>BaseElement</string>
				<string>BaseElement2</string>
				<string>BaseElement3</string>
				<string>BaseElementV2</string>
				<string>BaseElementV3</string>
				<string>CapCrossbarElement</string>
				<string>CapStemPattern</string>
				<string>CapStemPatternV2</string>
				<string>CapStemPatternV3</string>
				<string>LeftElementBV3</string>
				<string>LeftElementV3</string>
				<string>MidElement</string>
				<string>RightElementBV3</string>
				<string>RightElementV3</string>
				<string>TopCurvedElement</string>
				<string>TopElement</string>
				<string>TopElementV2</string>
				<string>TopElementV3</string>
				<string>WaistElement</string>
				<string>guillemotleft</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>fbCurvePalet</key>
	<dict>
		<key>sliderBottomMax</key>
		<integer>80</integer>
		<key>sliderBottomMin</key>
		<integer>25</integer>
		<key>sliderTopMax</key>
		<integer>80</integer>
		<key>sliderTopMin</key>
		<integer>30</integer>
	</dict>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>Ocircumflex</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>Eth</string>
		<string>Thorn</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>ocircumflex</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>germandbls</string>
		<string>eth</string>
		<string>thorn</string>
		<string>dotlessi</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>underscore</string>
		<string>hyphen</string>
		<string>parenleft</string>
		<string>bracketleft</string>
		<string>braceleft</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>quoteright</string>
		<string>asterisk</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>exclam</string>
		<string>question</string>
		<string>slash</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>section</string>
		<string>paragraph</string>
		<string>plus</string>
		<string>minus</string>
		<string>divide</string>
		<string>multiply</string>
		<string>equal</string>
		<string>less</string>
		<string>logicalnot</string>
		<string>dollar</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>acute</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>tilde</string>
		<string>macron</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>BaseCurvedElement</string>
		<string>BaseElement</string>
		<string>BaseElement2</string>
		<string>BaseElement3</string>
		<string>BaseElementV2</string>
		<string>BaseElementV3</string>
		<string>CapCrossbarElement</string>
		<string>CapStemPattern</string>
		<string>CapStemPatternV2</string>
		<string>CapStemPatternV3</string>
		<string>LeftElementBV3</string>
		<string>LeftElementV3</string>
		<string>MidElement</string>
		<string>RightElementBV3</string>
		<string>RightElementV3</string>
		<string>TopCurvedElement</string>
		<string>TopElement</string>
		<string>TopElementV2</string>
		<string>TopElementV3</string>
		<string>WaistElement</string>
		<string>guillemotleft</string>
	</array>
	<key>tnCurvePalet</key>
	<dict>
		<key>sliderBottomMax</key>
		<integer>80</integer>
		<key>sliderBottomMin</key>
		<integer>30</integer>
		<key>sliderTopMax</key>
		<integer>80</integer>
		<key>sliderTopMin</key>
		<integer>30</integer>
	</dict>
</dict>
</plist>
