<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1444</integer>
	<key>capHeight</key>
	<integer>1368</integer>
	<key>descender</key>
	<integer>-456</integer>
	<key>familyName</key>
	<string>Decovar Alpha</string>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
	</array>
	<key>styleName</key>
	<string>Regular24TermD</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>xHeight</key>
	<integer>912</integer>
</dict>
</plist>
