<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>Allparts</key>
	<string>A_llparts.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>BaseCrown</key>
	<string>B_aseC_rown.glif</string>
	<key>BaseCrown2</key>
	<string>B_aseC_rown2.glif</string>
	<key>BaseElementV2</key>
	<string>B_aseE_lementV_2.glif</string>
	<key>BaseLeftCurvedElement</key>
	<string>B_aseL_eftC_urvedE_lement.glif</string>
	<key>BaseTerminal</key>
	<string>B_aseT_erminal.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CCWBotMid</key>
	<string>C_C_W_B_otM_id.glif</string>
	<key>CCWTerm</key>
	<string>C_C_W_T_erm.glif</string>
	<key>CCWTermMid</key>
	<string>C_C_W_T_ermM_id.glif</string>
	<key>CCWTermMidWaist</key>
	<string>C_C_W_T_ermM_idW_aist.glif</string>
	<key>CCWTopMid</key>
	<string>C_C_W_T_opM_id.glif</string>
	<key>CCWWaist</key>
	<string>C_C_W_W_aist.glif</string>
	<key>CWBotMid</key>
	<string>C_W_B_otM_id.glif</string>
	<key>CWTerm</key>
	<string>C_W_T_erm.glif</string>
	<key>CWTermMid</key>
	<string>C_W_T_ermM_id.glif</string>
	<key>CWTermMidWaist</key>
	<string>C_W_T_ermM_idW_aist.glif</string>
	<key>CWTopMid</key>
	<string>C_W_T_opM_id.glif</string>
	<key>CWWaist</key>
	<string>C_W_W_aist.glif</string>
	<key>CapCrossbarElement</key>
	<string>C_apC_rossbarE_lement.glif</string>
	<key>CapStemPattern</key>
	<string>C_apS_temP_attern.glif</string>
	<key>CapStemPatternV2</key>
	<string>C_apS_temP_atternV_2.glif</string>
	<key>CapStemPatternV3</key>
	<string>C_apS_temP_atternV_3.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>ForCCWDiagons</key>
	<string>F_orC_C_W_D_iagons.glif</string>
	<key>ForCWDiagons</key>
	<string>F_orC_W_D_iagons.glif</string>
	<key>ForVertical</key>
	<string>F_orV_ertical.glif</string>
	<key>FutureParts</key>
	<string>F_utureP_arts.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>LeftElementBV3</key>
	<string>L_eftE_lementB_V_3.glif</string>
	<key>LeftTopTerm</key>
	<string>L_eftT_opT_erm.glif</string>
	<key>LeftUJoint</key>
	<string>L_eftU_J_oint.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>MidElement</key>
	<string>M_idE_lement.glif</string>
	<key>MidStemBot</key>
	<string>M_idS_temB_ot.glif</string>
	<key>MidStemTop</key>
	<string>M_idS_temT_op.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>RightBotTerm</key>
	<string>R_ightB_otT_erm.glif</string>
	<key>RightCrown</key>
	<string>R_ightC_rown.glif</string>
	<key>RightTopTerminal</key>
	<string>R_ightT_opT_erminal.glif</string>
	<key>RightUJoint</key>
	<string>R_ightU_J_oint.glif</string>
	<key>RoundDualyNE</key>
	<string>R_oundD_ualyN_E_.glif</string>
	<key>RoundDualyNW</key>
	<string>R_oundD_ualyN_W_.glif</string>
	<key>RoundDualySE</key>
	<string>R_oundD_ualyS_E_.glif</string>
	<key>RoundDualySW</key>
	<string>R_oundD_ualyS_W_.glif</string>
	<key>RoundWaistElement0</key>
	<string>R_oundW_aistE_lement0.glif</string>
	<key>RoundWaistElement180</key>
	<string>R_oundW_aistE_lement180.glif</string>
	<key>RoundWaistElement270</key>
	<string>R_oundW_aistE_lement270.glif</string>
	<key>RoundWaistElement90</key>
	<string>R_oundW_aistE_lement90.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>TopCrown</key>
	<string>T_opC_rown.glif</string>
	<key>TopCrownW</key>
	<string>T_opC_rownW_.glif</string>
	<key>TopCurvedElement</key>
	<string>T_opC_urvedE_lement.glif</string>
	<key>TopElement</key>
	<string>T_opE_lement.glif</string>
	<key>TopElementV1</key>
	<string>T_opE_lementV_1.glif</string>
	<key>TopElementV2</key>
	<string>T_opE_lementV_2.glif</string>
	<key>TopTerminalV3</key>
	<string>T_opT_erminalV_3.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>WaistElement</key>
	<string>W_aistE_lement.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
