<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K.lowerdiagonal</key>
    <string>K_.lowerdiagonal.glif</string>
    <key>K.upperdiagonal</key>
    <string>K_.upperdiagonal.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.botleftdia</key>
    <string>M_.botleftdia.glif</string>
    <key>M.botrightdia</key>
    <string>M_.botrightdia.glif</string>
    <key>M.leftdiagonal</key>
    <string>M_.leftdiagonal.glif</string>
    <key>M.rightdiagonal</key>
    <string>M_.rightdiagonal.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.diagonal</key>
    <string>R_.diagonal.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>part1</key>
    <string>part1.glif</string>
    <key>part1/2</key>
    <string>part1_2.glif</string>
    <key>part1/2a</key>
    <string>part1_2a.glif</string>
    <key>part1/2b</key>
    <string>part1_2b.glif</string>
    <key>part1/4</key>
    <string>part1_4.glif</string>
    <key>part1a</key>
    <string>part1a.glif</string>
    <key>part1b</key>
    <string>part1b.glif</string>
    <key>part1c</key>
    <string>part1c.glif</string>
    <key>part1d</key>
    <string>part1d.glif</string>
    <key>part1e</key>
    <string>part1e.glif</string>
    <key>part1f</key>
    <string>part1f.glif</string>
    <key>part1g</key>
    <string>part1g.glif</string>
    <key>part1h</key>
    <string>part1h.glif</string>
    <key>part1i</key>
    <string>part1i.glif</string>
    <key>part1j</key>
    <string>part1j.glif</string>
    <key>part1k</key>
    <string>part1k.glif</string>
    <key>part1zj</key>
    <string>part1zj.glif</string>
    <key>part1zk</key>
    <string>part1zk.glif</string>
    <key>part1zl</key>
    <string>part1zl.glif</string>
    <key>part1zm</key>
    <string>part1zm.glif</string>
    <key>part1zn</key>
    <string>part1zn.glif</string>
    <key>part2</key>
    <string>part2.glif</string>
    <key>part2a</key>
    <string>part2a.glif</string>
    <key>part2b</key>
    <string>part2b.glif</string>
    <key>part2c</key>
    <string>part2c.glif</string>
    <key>part2d</key>
    <string>part2d.glif</string>
    <key>part2e</key>
    <string>part2e.glif</string>
    <key>part2f</key>
    <string>part2f.glif</string>
    <key>part2g</key>
    <string>part2g.glif</string>
    <key>part2h</key>
    <string>part2h.glif</string>
    <key>part2i</key>
    <string>part2i.glif</string>
    <key>part2j</key>
    <string>part2j.glif</string>
    <key>part2k</key>
    <string>part2k.glif</string>
    <key>part2l</key>
    <string>part2l.glif</string>
    <key>part2m</key>
    <string>part2m.glif</string>
    <key>part2n</key>
    <string>part2n.glif</string>
    <key>part2p</key>
    <string>part2p.glif</string>
    <key>part2q</key>
    <string>part2q.glif</string>
    <key>part2r</key>
    <string>part2r.glif</string>
    <key>part2s</key>
    <string>part2s.glif</string>
    <key>part2t</key>
    <string>part2t.glif</string>
    <key>part2u</key>
    <string>part2u.glif</string>
    <key>part2v</key>
    <string>part2v.glif</string>
    <key>part2w</key>
    <string>part2w.glif</string>
    <key>part2x</key>
    <string>part2x.glif</string>
    <key>part3</key>
    <string>part3.glif</string>
    <key>part3a</key>
    <string>part3a.glif</string>
    <key>part3b</key>
    <string>part3b.glif</string>
    <key>part3c</key>
    <string>part3c.glif</string>
    <key>part3d</key>
    <string>part3d.glif</string>
    <key>part3e</key>
    <string>part3e.glif</string>
    <key>part3g</key>
    <string>part3g.glif</string>
    <key>part3h</key>
    <string>part3h.glif</string>
    <key>part3i</key>
    <string>part3i.glif</string>
    <key>part3j</key>
    <string>part3j.glif</string>
    <key>part4</key>
    <string>part4.glif</string>
    <key>part4a</key>
    <string>part4a.glif</string>
    <key>part4b</key>
    <string>part4b.glif</string>
    <key>part4c</key>
    <string>part4c.glif</string>
    <key>part4d</key>
    <string>part4d.glif</string>
    <key>part4e</key>
    <string>part4e.glif</string>
    <key>part5</key>
    <string>part5.glif</string>
    <key>part5a</key>
    <string>part5a.glif</string>
    <key>part5b</key>
    <string>part5b.glif</string>
    <key>part5c</key>
    <string>part5c.glif</string>
    <key>part5d</key>
    <string>part5d.glif</string>
    <key>part5e</key>
    <string>part5e.glif</string>
    <key>part5f</key>
    <string>part5f.glif</string>
    <key>part5g</key>
    <string>part5g.glif</string>
    <key>part5h</key>
    <string>part5h.glif</string>
    <key>part5i</key>
    <string>part5i.glif</string>
    <key>part5j</key>
    <string>part5j.glif</string>
    <key>part5k</key>
    <string>part5k.glif</string>
    <key>part5l</key>
    <string>part5l.glif</string>
    <key>part5m</key>
    <string>part5m.glif</string>
    <key>part5n</key>
    <string>part5n.glif</string>
    <key>part5o</key>
    <string>part5o.glif</string>
    <key>part5p</key>
    <string>part5p.glif</string>
    <key>part5q</key>
    <string>part5q.glif</string>
    <key>part5r</key>
    <string>part5r.glif</string>
    <key>part5s</key>
    <string>part5s.glif</string>
    <key>part5t</key>
    <string>part5t.glif</string>
    <key>part5u</key>
    <string>part5u.glif</string>
    <key>part5v</key>
    <string>part5v.glif</string>
    <key>part5w</key>
    <string>part5w.glif</string>
    <key>part5x</key>
    <string>part5x.glif</string>
    <key>part5y</key>
    <string>part5y.glif</string>
    <key>part5z</key>
    <string>part5z.glif</string>
    <key>part5za</key>
    <string>part5za.glif</string>
    <key>part5zb</key>
    <string>part5zb.glif</string>
    <key>part5zc</key>
    <string>part5zc.glif</string>
    <key>part5zd</key>
    <string>part5zd.glif</string>
    <key>part5ze</key>
    <string>part5ze.glif</string>
    <key>part5zf</key>
    <string>part5zf.glif</string>
    <key>part5zg</key>
    <string>part5zg.glif</string>
    <key>part5zh</key>
    <string>part5zh.glif</string>
    <key>part5zi</key>
    <string>part5zi.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>prt2o</key>
    <string>prt2o.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.za</key>
    <string>zero.za.glif</string>
  </dict>
</plist>
