<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>Allparts</key>
	<string>Allparts_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>BaseCrown</key>
	<string>BaseCrown_.glif</string>
	<key>BaseCrown2</key>
	<string>BaseCrown2_.glif</string>
	<key>BaseElementV2</key>
	<string>BaseElementV2_.glif</string>
	<key>BaseLeftCurvedElement</key>
	<string>BaseLeftCurvedElement_.glif</string>
	<key>BaseTerminal</key>
	<string>BaseTerminal_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CCWBotMid</key>
	<string>CCWBotMid_.glif</string>
	<key>CCWTerm</key>
	<string>CCWTerm_.glif</string>
	<key>CCWTermMid</key>
	<string>CCWTermMid_.glif</string>
	<key>CCWTermMidWaist</key>
	<string>CCWTermMidWaist_.glif</string>
	<key>CCWTopMid</key>
	<string>CCWTopMid_.glif</string>
	<key>CCWWaist</key>
	<string>CCWWaist_.glif</string>
	<key>CWBotMid</key>
	<string>CWBotMid_.glif</string>
	<key>CWTerm</key>
	<string>CWTerm_.glif</string>
	<key>CWTermMid</key>
	<string>CWTermMid_.glif</string>
	<key>CWTermMidWaist</key>
	<string>CWTermMidWaist_.glif</string>
	<key>CWTopMid</key>
	<string>CWTopMid_.glif</string>
	<key>CWWaist</key>
	<string>CWWaist_.glif</string>
	<key>CapCrossbarElement</key>
	<string>CapCrossbarElement_.glif</string>
	<key>CapStemPattern</key>
	<string>CapStemPattern_.glif</string>
	<key>CapStemPatternV2</key>
	<string>CapStemPatternV2_.glif</string>
	<key>CapStemPatternV3</key>
	<string>CapStemPatternV3_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>ForCCWDiagons</key>
	<string>ForCCWDiagons_.glif</string>
	<key>ForCWDiagons</key>
	<string>ForCWDiagons_.glif</string>
	<key>ForVertical</key>
	<string>ForVertical_.glif</string>
	<key>FutureParts</key>
	<string>FutureParts_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>LeftElementBV3</key>
	<string>LeftElementBV3_.glif</string>
	<key>LeftTopTerm</key>
	<string>LeftTopTerm_.glif</string>
	<key>LeftUJoint</key>
	<string>LeftUJoint_.glif</string>
	<key>MidElement</key>
	<string>MidElement_.glif</string>
	<key>MidStemBot</key>
	<string>MidStemBot_.glif</string>
	<key>MidStemTop</key>
	<string>MidStemTop_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>RightBotTerm</key>
	<string>RightBotTerm_.glif</string>
	<key>RightCrown</key>
	<string>RightCrown_.glif</string>
	<key>RightTopTerminal</key>
	<string>RightTopTerminal_.glif</string>
	<key>RightUJoint</key>
	<string>RightUJoint_.glif</string>
	<key>RoundDualyNE</key>
	<string>RoundDualyNE_.glif</string>
	<key>RoundDualyNW</key>
	<string>RoundDualyNW_.glif</string>
	<key>RoundDualySE</key>
	<string>RoundDualySE_.glif</string>
	<key>RoundDualySW</key>
	<string>RoundDualySW_.glif</string>
	<key>RoundWaistElement0</key>
	<string>RoundWaistElement0_.glif</string>
	<key>RoundWaistElement180</key>
	<string>RoundWaistElement180_.glif</string>
	<key>RoundWaistElement270</key>
	<string>RoundWaistElement270_.glif</string>
	<key>RoundWaistElement90</key>
	<string>RoundWaistElement90_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>TopCrown</key>
	<string>TopCrown_.glif</string>
	<key>TopCrownW</key>
	<string>TopCrownW_.glif</string>
	<key>TopCurvedElement</key>
	<string>TopCurvedElement_.glif</string>
	<key>TopElement</key>
	<string>TopElement_.glif</string>
	<key>TopElementV1</key>
	<string>TopElementV1_.glif</string>
	<key>TopElementV2</key>
	<string>TopElementV2_.glif</string>
	<key>TopTerminalV3</key>
	<string>TopTerminalV3_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>WaistElement</key>
	<string>WaistElement_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
