<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>qcurve</string>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>A</string>
				<string>Allparts</string>
				<string>B</string>
				<string>BaseCrown</string>
				<string>BaseCrown2</string>
				<string>BaseElementV2</string>
				<string>BaseLeftCurvedElement</string>
				<string>BaseTerminal</string>
				<string>C</string>
				<string>CCWBotMid</string>
				<string>CCWTerm</string>
				<string>CCWTermMid</string>
				<string>CCWTermMidWaist</string>
				<string>CCWTopMid</string>
				<string>CCWWaist</string>
				<string>CWBotMid</string>
				<string>CWTerm</string>
				<string>CWTermMid</string>
				<string>CWTermMidWaist</string>
				<string>CWTopMid</string>
				<string>CWWaist</string>
				<string>CapCrossbarElement</string>
				<string>CapStemPattern</string>
				<string>CapStemPatternV2</string>
				<string>CapStemPatternV3</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>ForCCWDiagons</string>
				<string>ForCWDiagons</string>
				<string>ForVertical</string>
				<string>FutureParts</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>LeftElementBV3</string>
				<string>LeftTopTerm</string>
				<string>LeftUJoint</string>
				<string>M</string>
				<string>MidElement</string>
				<string>MidStemBot</string>
				<string>MidStemTop</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>RightBotTerm</string>
				<string>RightCrown</string>
				<string>RightTopTerminal</string>
				<string>RightUJoint</string>
				<string>RoundDualyNE</string>
				<string>RoundDualyNW</string>
				<string>RoundDualySE</string>
				<string>RoundDualySW</string>
				<string>RoundWaistElement0</string>
				<string>RoundWaistElement180</string>
				<string>RoundWaistElement270</string>
				<string>RoundWaistElement90</string>
				<string>S</string>
				<string>T</string>
				<string>Thorn</string>
				<string>TopCrown</string>
				<string>TopCrownW</string>
				<string>TopCurvedElement</string>
				<string>TopElement</string>
				<string>TopElementV1</string>
				<string>TopElementV2</string>
				<string>TopTerminalV3</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>WaistElement</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>ampersand</string>
				<string>asterisk</string>
				<string>at</string>
				<string>colon</string>
				<string>comma</string>
				<string>divide</string>
				<string>dollar</string>
				<string>eight</string>
				<string>equal</string>
				<string>exclam</string>
				<string>five</string>
				<string>four</string>
				<string>guillemotleft</string>
				<string>hyphen</string>
				<string>less</string>
				<string>logicalnot</string>
				<string>minus</string>
				<string>multiply</string>
				<string>nine</string>
				<string>numbersign</string>
				<string>one</string>
				<string>parenleft</string>
				<string>period</string>
				<string>plus</string>
				<string>question</string>
				<string>quotedbl</string>
				<string>quoteright</string>
				<string>quotesingle</string>
				<string>semicolon</string>
				<string>seven</string>
				<string>six</string>
				<string>slash</string>
				<string>space</string>
				<string>sterling</string>
				<string>three</string>
				<string>two</string>
				<string>underscore</string>
				<string>zero</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Allparts</string>
		<string>B</string>
		<string>BaseCrown</string>
		<string>BaseCrown2</string>
		<string>BaseElementV2</string>
		<string>BaseLeftCurvedElement</string>
		<string>BaseTerminal</string>
		<string>C</string>
		<string>CCWBotMid</string>
		<string>CCWTerm</string>
		<string>CCWTermMid</string>
		<string>CCWTermMidWaist</string>
		<string>CCWTopMid</string>
		<string>CCWWaist</string>
		<string>CWBotMid</string>
		<string>CWTerm</string>
		<string>CWTermMid</string>
		<string>CWTermMidWaist</string>
		<string>CWTopMid</string>
		<string>CWWaist</string>
		<string>CapCrossbarElement</string>
		<string>CapStemPattern</string>
		<string>CapStemPatternV2</string>
		<string>CapStemPatternV3</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>ForCCWDiagons</string>
		<string>ForCWDiagons</string>
		<string>ForVertical</string>
		<string>FutureParts</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>LeftElementBV3</string>
		<string>LeftTopTerm</string>
		<string>LeftUJoint</string>
		<string>M</string>
		<string>MidElement</string>
		<string>MidStemBot</string>
		<string>MidStemTop</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>RightBotTerm</string>
		<string>RightCrown</string>
		<string>RightTopTerminal</string>
		<string>RightUJoint</string>
		<string>RoundDualyNE</string>
		<string>RoundDualyNW</string>
		<string>RoundDualySE</string>
		<string>RoundDualySW</string>
		<string>RoundWaistElement0</string>
		<string>RoundWaistElement180</string>
		<string>RoundWaistElement270</string>
		<string>RoundWaistElement90</string>
		<string>S</string>
		<string>T</string>
		<string>Thorn</string>
		<string>TopCrown</string>
		<string>TopCrownW</string>
		<string>TopCurvedElement</string>
		<string>TopElement</string>
		<string>TopElementV1</string>
		<string>TopElementV2</string>
		<string>TopTerminalV3</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>WaistElement</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>ampersand</string>
		<string>asterisk</string>
		<string>at</string>
		<string>colon</string>
		<string>comma</string>
		<string>divide</string>
		<string>dollar</string>
		<string>eight</string>
		<string>equal</string>
		<string>exclam</string>
		<string>five</string>
		<string>four</string>
		<string>guillemotleft</string>
		<string>hyphen</string>
		<string>less</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>multiply</string>
		<string>nine</string>
		<string>numbersign</string>
		<string>one</string>
		<string>parenleft</string>
		<string>period</string>
		<string>plus</string>
		<string>question</string>
		<string>quotedbl</string>
		<string>quoteright</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>seven</string>
		<string>six</string>
		<string>slash</string>
		<string>space</string>
		<string>sterling</string>
		<string>three</string>
		<string>two</string>
		<string>underscore</string>
		<string>zero</string>
	</array>
</dict>
</plist>
